body {
    background-color:#000000;
}
.youtube iframe{
    position:absolute;
    right: 0; 
    top: 100;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
    opacity: 0.1;
}
.backgroundPng{
    position: absolute;
    opacity: 0.5;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    /*background: url("image/zeldalogo.png");*/
    backgound-color: rgba(255,0,0,0.5);
}



.game {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  border: 1px solid red;
  top: 110%;
  left: 50%;
	  
}

.game img {
  position: absolute;
  width: 100px;
  height: 100px;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.github {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  border: 1px solid red;
  top: 110%;
  left: 70%;
	  
}

.github img {
  position: absolute;
  width: 100px;
  height: 100px;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.pixiv {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  border: 1px solid red;
  top: 110%;
  left: 30%;
	  
}

.pixiv img {
  position: absolute;
  width: 100px;
  height: 100px;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}


/*.game{
    width: 100px;
    height: 100px;
    background: url("image/game.png");
    background-size: 100px 100px;
    filter: gray;
    filter: grayscale(1); // W3C
    &:hover {
	-webkit-filter: grayscale(0); // webkit
	filter: none; // IE6-9
	filter: grayscale(0); // W3C
    }
    position: absolute;
    bottom: 10px;
    right: 10px;
}*/
h1 {
    padding: .5em .75em;
    background-color:#FFFFFF;
    padding-bottom: .5em;
    border-bottom: 1px solid #ccc;
}
h1:first-letter {
    margin-right: .1em;
    font-size: 1.5em;
}
h2 {
    padding: .5em .75em;
    background-color:#FFFFFF;
    padding-bottom: .5em;
    border-bottom: 1px solid #ccc;
}
p.text{
    color: #C0C0C0;
    text-align: center;
    font: bold large/300%  "ＭＳ 明朝";
}
