body {
    background-color:#66CCCC;
}
.youtube iframe{
    position:absolute;
    right: 0; 
    top: 100;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}
.backgroundPng{
    position: absolute;
    width: 100%;
    height: 1000px;
    background: url("image/backgroundPng.png");
}
h1 {
    padding: .5em .75em;
    background-color:#FFFFFF;
    padding-bottom: .5em;
    border-bottom: 1px solid #ccc;
}
h1:first-letter {
    margin-right: .1em;
    font-size: 1.5em;
}
