body {
    background-color:#000000;
}
.youtube iframe{
    position:absolute;
    right: 0; 
    top: 100;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
   /* -webkit-filter: brightness(0.4);
    -moz-filter: brightness(0.4);
    -o-filter: brightness(0.4);
    -ms-filter: brightness(0.4);
    filter: brightness(0.4);*/
    opacity: 0.1;
}
.backgroundPng{
    position: absolute;
    opacity: 0.5;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    /*background: url("image/zeldalogo.png");*/
    backgound-color: rgba(255,0,0,0.5);
}
.fate{
    position: absolute;
    bottom: 10px;
    
}
h1 {
    padding: .5em .75em;
    background-color:#FFFFFF;
    padding-bottom: .5em;
    border-bottom: 1px solid #ccc;
}
h1:first-letter {
    margin-right: .1em;
    font-size: 1.5em;
}
h2 {
    padding: .5em .75em;
    background-color:#FFFFFF;
    padding-bottom: .5em;
    border-bottom: 1px solid #ccc;
}
p.text{
    color: #C0C0C0;
    text-align: center;
    font: bold large/300%  "ＭＳ 明朝";
}
